.test{
    color: green;
    }
    
    
    body
    {
    width: 90%;
    margin: auto; /* Pour centrer notre page */
    margin-top: 10%; /* Pour éviter de coller avec le haut de la fenêtre du navigateur.  */
    margin-bottom: 10%;    /* aussi pour le bas du navigateur */
    background-color: #bfd1d0; /* Un fond pour éviter d'avoir un fond blanc  */
    }
    
    
    #corps
    {
    margin-left: 0%;
    margin-bottom: 0%;
    padding: 0%;
    }
    #corps h1 /* Tous les titres h1 du corps */
    {
    color: #d5616aab;
    text-align: center;
    font-family: Arial, "Times New Roman", Times, serif;
    }
    
    #corps h2 /* Tous les titres h2 du corps */
    {
    height: 30px;
    /* Une petite image (15x15) de fond sur les titres h2 */
    background-image: url("images1/petite_image.png");
    background-repeat: no-repeat; /* L'image  se placera  à gauche du titre */
    padding-left: 20px;
    color: #0000ff;
 
    }
    
    .mol-container {
        width: 90%;
        height: 400px;
        position: relative;
   
      }